option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    NPM_CONFIG_PRODUCTION: false
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
    GzipCompression: true
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: build/static