files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/49_restart_node_server.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      /opt/elasticbeanstalk/bin/restart-app-server

commands:
  01_node_install:
    command: yum install -y nodejs npm
  02_node_update:
    command: npm install -g npm@latest

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx